.App {
  min-height: 100vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: black;
  background-color: lightgray;
}

.App-editor {
  margin-top: 2vh;
}

.App-button-group {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-button {
  font-size: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
}